.panier {
    position: absolute;
    top: 50px;
    right: -300px;
    height: 550px;
    background-color: white;
    width: 300px;
    padding: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    animation: apparition 0.5s ease backwards;
    transition: 0.3s ease;
}
.panier.open {
    right: 0px;
}
.divPanier {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(245, 245, 245);
    height: 100%;
    padding: 5px;
    overflow-x: hidden;
}
.panierTxtPrix {
    display: flex;
    flex-direction: column;
}
.txtPanier {
    font-weight: bold;
}
.panierProduit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.articlePanier {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    background-color: white;
}
.articlePanier.fadeOut {
  opacity: 0;
  transform: translateX(200px);
  transition: 0.3s ease;
}
.divImgPanier {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.imgPanier {
    margin-top: 20px;
    width: 175px;
    height: 175px;
    object-fit: cover;
    object-position: top;
}
.btnPanierSupp {
    fill: rgb(149, 71, 71);
    cursor: pointer;
    margin-right: 5px;
}
.btnPanierSupp:hover {
    fill: rgb(193, 0, 0);
}
.totalPanierTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.totalPanierBot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.btnCheckout {
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}
.btnCheckout:hover {
    background-color: black;
    color: white;
}
